#red{
    color:#FF0E00;
    font-weight: normal;
}

#blue{
    color:#1BA8F0;
    font-weight: normal;
}

#orange{
    color:#FF7B1D;
    font-weight: normal;
}

#green{
    color:#266525;
    font-weight: normal;
}

#yellow{
    color:#FFFE34;
    font-weight: normal;
}

img{
    width: 200px;
    height: 200px;
}
